LIVESAFE_ENV=development
EXOCHAIN_REPO_PATH=/Users/bobstewart/dev/exochain
WORKOS_CLIENT_ID=
WORKOS_API_KEY=
WORKOS_INVITATION_ORGANIZATION_ID=
WORKOS_INVITATION_ROLE_SLUG=
WORKOS_INVITATION_EXPIRES_IN_DAYS=7
